{% extends base_page %}
{% block title %}MELINUX - Entidades{% endblock %}

{% block main_dependencies %}
{% load static %}
	<link rel="stylesheet" href="{% static 'css/core/entities/table.css' %}">
{% endblock %}

{% block main_content %}
{% verbatim %}
	<div id="app_entities" class="text-center">
		<app_entities_table data="entities.data"></app_entities_table>
	</div>
{% endverbatim %}
{% endblock %}

{% block secondary_dependencies %}
{% load static %}
	<script src="{% static 'js/controllers/BaseController.js' %}"></script>
	<script src="{% static 'apps/core/entities/components/EntitiesComponents.js' %}"></script>
	<script src="{% static 'apps/core/entities/controllers/EntitiesController.js' %}"></script>
{% endblock %}