{% extends base_page %}
{% block title %}MELINUX - Entidades{% endblock %}

{% block main_dependencies %}
{% load static %}

{% endblock %}

{% block main_content %}
{% verbatim %}
	<div id="app_entities">
		{{ entities.data }}
	</div>
{% endverbatim %}
{% endblock %}

{% block secondary_dependencies %}
{% load static %}
	<script src="{% static 'js/controllers/BaseController.js' %}"></script>
	<script src="{% static 'apps/core/entities/components/EntitiesComponents.js' %}"></script>
	<script src="{% static 'apps/core/entities/controllers/EntitiesController.js' %}"></script>
{% endblock %}