# Created by .ignore support plugin (hsz.mobi)
apps/__pycache__/
apps/core/__pycache__/
project_ivis/__pycache__/
utils/__pycache__/
conf/__pycache__/

.idea/
static/compress/
static/bower_components/
/apps/core/migrations/0001_initial.py
apps/core/migrations/
/conf/profile.py
