# Install command from requirements
# command pip install -r conf/requirements.txt --process-dependency-links
django
django-bower
psycopg2-binary

https://github.com/otmasolucoes/apps.core.authentication/zipball/master
https://github.com/otmasolucoes/apps.core.security/zipball/master
https://github.com/otmasolucoes/apps.entities/zipball/master



##
## PROJECT_KEY: 245E967FE4D9641574C0
##