.authentication-panel{
  margin-top: 50px;
  background: #f7f7f7;
  border-radius: 5px;
  padding: 30px 20px 20px 20px;
}

.submit-button {
  font-family: "Ubuntu Light", "sans-serif";
  background: #539fb2;
  color: #ffffff;
  border: solid 1px #477d8e;
  width: 100px;
}

.round-border {
   border-radius: 15px;
}