/* MENU SUPERIOR */
.top-menu{
  background: #f3f3f3;
  border-bottom: solid 1px #e2e2e2;
  margin: -20px -20px 0 -20px;
  height: 40px;
}

.menu-profile{
  margin-top: 5px;
  cursor: pointer;
}

.menu-profile .photo{
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.toggle-menu{
  margin-left: -5px;
  margin-top: 10px;
  cursor:pointer;
}
/* MENU SUPERIOR */