<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <title>{% block title %}Melinux - Login{% endblock %}</title>

    {% load static %}
      <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}">
      <link rel="stylesheet" href="{% static 'bower_components/nprogress/nprogress.css' %}">
      <script src="{% static 'bower_components/font-awesome/js/all.js' %}"></script>
      <script src="{% static 'bower_components/vue/dist/vue.js' %}"></script>
      <link rel="stylesheet" href="{% static 'css/core/authentication/otma-login.css' %}">

    {% block primary_dependencies %}
  {% endblock %}
  </head>

  <body style="background: #eaeaea;">
    <div id="app_core_authentication" class="row justify-content-center">
      <div class="col-3 authentication-panel"> <!-- Keep this panel up there -->
        {% block main_content %}

        {% endblock %}
      </div>
    </div>

    {% load static %}
      <script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
      <script src="{% static 'bower_components/jquery.nicescroll/dist/jquery.nicescroll.js' %}"></script>
      <script src="{% static 'bower_components/nprogress/nprogress.js' %}"></script>
      <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
      <script>
        $(document).ready(function() {
          $("body").niceScroll({
              cursorcolor:"#57c6d5",
              cursorwidth:"7px"
          });
        });
      </script>
    {% block secondary_dependencies %}
    {% endblock %}
  </body>
</html>