{% extends base_page %}
{% block title %}Melinux - Login{% endblock %}

{% block main_dependencies %}
{% load static %}
{%
<link rel="stylesheet" href="{% static 'css/core/authentication/otma-login.css' %}">
{% endblock %}

{% block main_content %}
<div id="app_core_authentication">
  {% csrf_token %}
  <app-login-form :passing="login" :object="forms.log_in"></app-login-form>
</div>
{% endblock %}

{% block secondary_dependencies %}
{% load static %}
<script src="{% static 'js/controllers/BaseController.js' %}"></script>
<script src="{% static 'js/components/input-components.js' %}"></script>
<script src="{% static 'js/components/form-components.js' %}"></script>
<script src="{% static 'js/controllers/form-controller.js' %}"></script>
{% endblock %}