{% extends base_page %}
{% block title %}Melinux - Login{% endblock %}

{% block main_dependencies %}
{% load static %}
{% endblock %}

{% block main_content %}
<div id="app_core_authentication">
  {% csrf_token %}
  <app_form_signup :form="forms.signup"></app_form_signup>
</div>
{% endblock %}

{% block secondary_dependencies %}
{% load static %}
  <script src="{% static 'js/otma-validations.js' %}"></script>
<script src="{% static 'js/controllers/BaseController.js' %}"></script>
<script src="{% static 'apps/core/commons/components/FormsComponents.js' %}"></script>
<script src="{% static 'apps/core/authentication/components/AuthenticationComponents.js' %}"></script>
<script src="{% static 'apps/core/authentication/controllers/AuthenticationController.js' %}"></script>
{% endblock %}